body {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    margin: 60px auto;
    width: 90%;
}
nav ul, footer ul {
    font-family: 'Arial', 'Helvetica', 'sans-serif';	
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family: 'Arial', 'Helvetica', 'sans-serif';	
}
p {
    font-size: 1em;
    line-height: 1.2em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.box1 {
  width: 90%;
  padding: 10px;
  border: 3px solid gray;
  margin:auto; 
}
.box1Inner1 {
  width: 100%;
  padding: 0px;
  clear: both;
  margin:auto; 
}

.projectbox {
  overflow: auto;
  float: left;
  width: 160px;
  padding: 10px;
  border: 1px solid gray;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
